@import '~antd/dist/antd.css';

.App {
    text-align: center;
}

.ant-menu-horizontal {
    border-bottom: none;
    box-shadow: none;
    border: none;
}

.ant-btn-primary {
    background-color: #564b60;
    border-color: #564b60;
    border: none;
    border-radius: 0;
}

.ant-btn-primary:hover {
    background-color: #9483a3;
    border-color: #9483a3;
    border: none;
    border-radius: 0;
}

span {
    border-radius: 0;
}

.ant-input {
    border-radius: 0;
}

.ant-menu-horizontal > .ant-menu-item {
    border-bottom: white !important;
}
