@import '~antd/dist/antd.css';
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media(prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.ant-menu-horizontal {
    border-bottom: none;
}

.ant-menu-horizontal > .ant-menu-item {
    border-bottom: white !important;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ant-btn-primary {
    background-color: #564b60;
    border-color: #564b60;
    border: none;
    border-radius: 0;
}

span {
    border-radius: 0;
}

/* .ant-input-group-addon {
    border-radius: 0;
} */

.ant-input {
    border: 1px solid white;
    border-radius: 0;
}
